* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    overlow-x: hidden;
}


header {
    position: relative;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.6) url(yazilim\ resimleri/el.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-blend-mode: darken;
    right: 0;
}
.navbar {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

}
#has2 {
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes slideLeft{
    from {transform:  translateX(300%)}
}
#biz{
     animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes slideRight{
    from {transform:  translateX(-300%)}
}

.basari {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}



.navbar .links {
    display: flex;
    gap: 2rem;
}

a {
    font-size: 1.4rem;
}

.navbar .links li {
    margin: 20px;
}

.navbar .links li a {
    color: white;

}

.navbar .links li a:hover {
    color: #eb6435;
    transition: 0.3s;
}

.navbar .toggle_btn {
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.navbar .yanlink {
    display: flex;
    margin-right: 80px;
}

.navbar .yanlink li {
    margin-left: 50px;
}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 170px;
     background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 70px;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dropdown_menu.open {
    height: 500px;
}

.dropdown_menu li a {
    color: white;
}

.dropdown_menu li a:hover {
    transition: 0.3s;
    color: #eb6435;
}

.ana1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;

    margin-left: 5px;
    text-align: center;

}

.ana2 {

    font-size: 18px;
    width: 90%;
}

.ana4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;


}

.ana5 {
    font-size: 18px;
    width: 75%;
    text-align: center;

    margin-left: 10px;

}

.ana5 span {
    color: #eb6435;

}

.footer1 {
    width: 60%;
    height: 1px;
    background-color: #3b61a8;
    margin-top: 50px;
    margin-left: 175px;


}

.footer2 {
    width: 100%;
    height: 1px;
    background-color: #3b61a8;
    display: none;
}

.footer3 {
    width: 50%;
    height: 1px;
    background-color: #3b61a8;
    margin-left: 780px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    margin-top: 100px;


}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: ghostwhite;
    border: #3b61a8 solid 1px;
    border-radius: 20px;

    transition: 0.5s;
}

.container .card:hover {
    height: 400px;
}

.container .card .imgBx {
    position: absolute;
    width: 300px;
    height: 220px;
    top: 20px;
    background: #eb6435;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;

}

.container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container .card .content {
    position: absolute;
    width: 100%;
    top: 252px;
    padding: 0 30px;
    height: 35px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    height: 250px;
    top: 130px;
}

.container .card .content a {
    position: relative;
    top: 25px;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 8px;
    background: #eb6435;
    color: white;
}

.iletisim2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;

}



.iletisim3 {
    padding: 20px;
    text-align: center;
}

.flexegitim {
    display: flex;
    width: 100%;
    justify-content: center;

    color: white;
    margin-top: 20px;
    flex-wrap: wrap;
    height: auto;

}

.displaybro {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 170px;

}

.box11 {
    background-color: #0399cd;
    width: 100%;
    background-size: cover;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 100px;
   
}

.flex1 a {
    color: white;

    border-radius: 10px;
    padding: 4px;

}

.flex2 a {
    color: white;

    border-radius: 10px;
    padding: 4px;

}

.flex3 a {
    color: white;

    border-radius: 10px;
    padding: 4px;
}

.flex4 a {
    color: white;

    border-radius: 10px;
    padding: 4px;
}

.flex5 a {
    color: white;

    border-radius: 10px;
    padding: 4px;
}

.flex1 {
    padding: 40px;

    width: 300px;
    text-align: center;
    justify-content: start;

    height: 210px;
    border-radius: 30px;
    margin: 20px;



}

.flex2 {
    padding: 40px;

    text-align: center;
    width: 300px;
    height: 210px;
    border-radius: 30px;
    margin: 20px;


}

.flex3 {
    padding: 40px;

    text-align: center;
    width: 300px;
    height: 210px;
    border-radius: 30px;
    margin: 20px;


}

.flex4 {
    padding: 40px;

    margin: 20px;
    text-align: center;
    width: 300px;
    height: 210px;
    border-radius: 30px;



}

.flex5 {
    padding: 40px;

    margin: 20px;
    text-align: center;
    width: 300px;
    height: 210px;
    border-radius: 30px;


}

.footer4 {
    background-color: #3b61a8;
    height: 1px;
    width: 100%;
    margin-top: 100px;
}

.footer5 {
    height: 100px;
    width: 100%;
    background-color: ghostwhite;
}







@media (max-width: 1500px) {

    .navbar .links,
    .navbar .yanlink {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
        margin-right: 10px;

    }

    .dropdown_menu {
        display: block;
        right: 0;

    }

}







@media (max-width:1050px) {
    .ana1 {
        flex-direction: column;

    }

    .ana2 {
        left: 0;
    }

    .ana4 {
        flex-direction: column;
    }

    .ana5 {
        margin-top: 40px;
    }

    .footer3 {
        display: none;
    }
}

@media (max-width:1055px) {
    .footer1 {
        display: none;
    }

    .footer2 {
        display: block;
        margin-top: 60px;
    }

}

@media (max-width: 840px) {
    h1 {
        font-size: 30px !important;
        margin-top: 50px;
    }
}

@media (max-width: 1080px) {
    h1 {
        margin-top: 50px;
    }
}
